
  <div class="container mx-auto">
    <h2 class="pl-4 pt-8 text-3xl"> 
        Profile Review
    </h2>
    
    <ul class="flex border-b m-3 py-3">
        <li class="-mb-px mr-1">
            <a class="bg-white inline-block border-l border-t border-r hover:text-purple-800 rounded-t py-2 px-4 text-purple-700 font-semibold tab activeTab" id="reviewTab">Review</a>
        </li>
        <li class="mr-1">
            <a class="bg-white inline-block py-2 px-4 text-purple-500 hover:text-purple-800 font-semibold tab" id="approvedTab">Approved</a>
        </li>
        <li class="mr-1">
            <a class="bg-white inline-block py-2 px-4 text-purple-500 hover:text-purple-800 font-semibold tab" id="rejectedTab">Rejected</a>
        </li>
    </ul>

    <div id="reviewUsers" class="active">
        <div class="mx-4">
            <div class="flex w-full"> 
                <div class="w-2/12 py-4 border-b border-dotted">Userid</div>
                <div class="w-8/12 py-4 border-b border-dotted">Profile</div>
                <div class="w-1/12 py-4 border-b border-dotted">Approve</div>
                <div class="w-1/12 py-4 border-b border-dotted">Reject</div>
            </div>
        </div>

        {{#each profiles}}
        <div class="mx-4">
            {{#unless profile__approved}}
            {{#unless profile__rejected}}
            <div class="flex w-full"> 
                <div class="w-2/12 py-4 border-b border-dotted">{{this.id}}.</div>
                <div class="w-8/12 py-4 border-b border-dotted"><a href="/profile/{{this.artist__route_name}}" target="_blank">{{this.artist__route_name}}</a></div>
                <div class="w-1/12 py-4 border-b border-dotted"><span class="rounded bg-green-400 py-3 px-4 text-sm hover:bg-green-300 actionProfile" data-outcome="approve" data-user="{{this.id}}">A</span></div>
                <div class="w-1/12 py-4 border-b border-dotted"><span class="rounded bg-red-400 py-3 px-4 text-sm hover:bg-red-300 actionProfile" data-outcome="reject" data-user="{{this.id}}">R</span></div>
            </div>
            {{/unless}}
            {{/unless}}
        </div>
        {{/each}}
    </div>

    <div id="approvedUsers" class="hidden">
        <div class="mx-4">
            <div class="flex w-full"> 
                <div class="w-2/12 py-4 border-b border-dotted">Userid</div>
                <div class="w-5/12 py-4 border-b border-dotted">Profile</div>
                <div class="w-2/12 py-4 border-b border-dotted">Confirmed by</div>
                <div class="w-2/12 py-4 border-b border-dotted">Date confirmed</div>
                <div class="w-1/12 py-4 border-b border-dotted">Reject</div>
            </div>
        </div>

        {{#each profiles}} 
        <div class="mx-4">
            {{#if profile__approved}}
            <div class="flex w-full"> 
                <div class="w-2/12 py-4 border-b border-dotted">{{this.id}}.</div>
                <div class="w-5/12 py-4 border-b border-dotted"><a href="/profile/{{this.artist__route_name}}" target="_blank">{{this.artist__route_name}}</a></div>
                <div class="w-2/12 py-4 border-b border-dotted text-right"><span class="rounded bg-green-400 py-3 px-4 text-sm hover:bg-green-300">{{profile__reviewed_by}}</span></div>
                <div class="w-2/12 py-4 border-b border-dotted text-right"><span class="rounded bg-green-400 py-3 px-4 text-sm hover:bg-green-300">{{updatedAt}}</span></div>
                <div class="w-1/12 py-4 border-b border-dotted text-right"><span class="rounded bg-red-400 py-3 px-4 text-sm hover:bg-red-300 actionProfile" data-outcome="reject" data-user="{{this.id}}">R</span></div>
            </div>
            {{/if}}
        </div>
        {{/each}}
    </div>
    

    <div id="rejectedUsers" class="hidden">
        <div class="mx-4">
            <div class="flex w-full"> 
                <div class="w-2/12 py-4 border-b border-dotted">Userid</div>
                <div class="w-5/12 py-4 border-b border-dotted">Profile</div>
                <div class="w-2/12 py-4 border-b border-dotted">Rejected by</div>
                <div class="w-2/12 py-4 border-b border-dotted">Date rejected</div>
                <div class="w-1/12 py-4 border-b border-dotted">Re-approve</div>
            </div>
        </div>

        {{#each profiles}}
        <div class="mx-4">
            <div class="flex w-full"> 
                {{#if profile__rejected}}
                <div class="w-2/12 py-4 border-b border-dotted">{{this.id}}.</div>
                <div class="w-5/12 py-4 border-b border-dotted"><a href="/profile/{{this.artist__route_name}}" target="_blank">{{this.artist__route_name}}</a></div>
                <div class="w-2/12 py-4 border-b border-dotted"><span class="py-3 px-4 text-sm">{{profile__reviewed_by}}</span></div>
                <div class="w-2/12 py-4 border-b border-dotted"><span class="py-3 px-4 text-sm">{{updatedAt}}</span></div>
                <div class="w-1/12 py-4 border-b border-dotted"><span class="rounded bg-green-400 py-3 px-4 text-sm hover:bg-green-300 actionProfile" data-outcome="approve" data-user="{{this.id}}">A</span></div>
                {{/if}}
            </div>
        </div>
        {{/each}}
    </div>
</div>