<div class="container mx-auto">
{{!-- need to add a search bar here at the top --}}

{{!-- showing the events --}}
<h1 class="text-purple-600">Local NYC Events</h1>

    {{#each events}}
    <div class="md:flex">
        {{!-- image of venue -- to add the src="URL" --}}
        <div class="md:flex-shrink-0"> 
            <img class="rounded-lg md:w-56" src="{{event_image}}" alt="Event's venue photo">
        </div>

        <div class="mt-4 md:mt-0 md:ml-6">
            <div class="uppercase tracking-wide text-sm text-purple-800 font-bold">{{event_type}}</div>
            <a href="{{event_link}}" class="block mt-1 text-lg leading-tight font-semibold text-gray-900 hover:underline" target="_blank">{{event_name}}/a>

            <p class="uppercase tracking-wide text-sm text-purple-600 font-bold">Location</p>: <p>{{event_location}}</p>
            <p class="uppercase tracking-wide text-sm text-purple-600 font-bold">Date</p>: <p>{{event_date}}</p>
            <p class="uppercase tracking-wide text-sm text-purple-600 font-bold">Price</p>: <p>{{price}}</p>

            <p class="mt-2 text-gray-600">{{event_description}}</p>
            {{!-- update the going to something more interesting for the attendee count --}}
            <p class="text-purple-600 text-center bg-gray-400 p-2">Going?</p>
        </div>
        
    {{else}}
        <p>No events are happening soon, check back later!</p>
    {{/each}}
    </div> 
    {{!-- end of md:flex div --}}
</div>