{{!-- event inupt page --}}
<div class="container mx-auto m-3">
    <div class="flex mb-4">
        <!-- Content --> 
        <div class="w-4/6 m-5 rounded-tl-lg">
            <div class="w-full text-2xl pb-5">
                <h2>Submit an Event</h2>
            </div>

        <form action="/" method="post">
            <div class="flex pb-2">
                <div class="w-1/6 pr-2">
                    <label> 
                        Event Name
                    </label>
                </div>
                <div class="w-5/6 pr-5">
                    <div class="flex">
                        <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="eventName" type="text" placeholder="Jackie's Jam Live" value="{{event_name}}">
                    </div>
                </div>
            </div>

            <div class="flex py-1">
                <div class="w-1/6 pr-2">
                    <label> 
                        Event Type
                    </label>
                </div>
                <div class="w-5/6 pr-5">
                    <div class="flex">
                        <div class="inline-block relative w-full">
                            <select class="block appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="eventType" value="{{event_type}}">
                                <option>Music</option>
                                <option>Art</option>
                                <option>Performance Arts</option>
                                <option>Other</option>
                            </select>
                            
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-900">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>

            <div class="flex pb-2">
                <div class="w-1/6 pr-2">
                    <label> 
                        Venue / Location
                    </label>
                </div>
                <div class="w-5/6 pr-5">
                    <div class="flex">
                        <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="eventLocation" type="text" placeholder="Uptown Theater" value="{{event_location}}">
                    </div>
                </div>
            </div>

            <div class="flex pb-2">
                <div class="w-1/6 pr-2">
                    <label> 
                        Link to event? 
                    </label>
                </div>
                <div class="w-5/6 pr-5">
                    <div class="flex">
                        <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="eventLink" type="text" placeholder="https://greatesteventever.com/showtomorrow" value="{{event_link}}">
                    </div>
                </div>
            </div>

            <div class="flex pb-2">
                <div class="w-1/6 pr-2">
                    <label> 
                        Image to promote event 
                    </label>
                </div>
                <div class="w-5/6 pr-5">
                    <div class="flex">
                        <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="eventImage" type="text" placeholder="https://greatesteventever.com/image.png" value="{{event_image}}">
                    </div>
                </div>
            </div>

            <div class="flex pb-2">
                <div class="w-1/6 pr-2">
                    <label> 
                       Event Date 
                    </label>
                </div>
                <div class="w-5/6 pr-5">
                    <div class="flex">
                        <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="eventDate" type="text" placeholder="01/01/2022" value="{{event_date}}">
                    </div>
                </div>
            </div>

            <div class="flex py-1">
                <div class="w-1/6 pr-2">
                    <label> 
                        Price
                    </label>
                </div>
                <div class="w-5/6 pr-5">
                    <div class="flex">
                        <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="eventPrice" type="text" placeholder="20.50" value="{{event_price}}">
                    </div>
                </div>
            </div>

            <div class="flex pb-2">
                <div class="w-1/6 pr-2">
                    <label> 
                        Event Description
                    </label>
                </div>
                <div class="w-5/6 pr-5">
                    <div class="flex">
                        <textarea name="description" id="eventDescription" class="“appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" placeholder=“This event will feature artists XXX and Mx. Mini in a live performance..." rows=“10">{{event_description}}</textarea>
                    </div>
                </div>
            </div>
            

            <div class="flex pr-1">
                <div class="w-full py-5 mr-4">
                    <button class="bg-purple-500 hover:bg-blue-700 text-white w-full py-2 px-4 rounded" id="eventSubmit">
                        Submit
                    </button>
                </div>
            </div>
            </form>
        </div>  {{!-- this may  not be in the right place --}}

        <!-- Sidebar -->
        <div class="w-2/6 border-top mt-5 rounded-tr-lg p-4 h-56">
            <div class="max-w-sm rounded overflow-hidden shadow-lg">
                {{!-- need to change the image here --}}
                <img class="w-full" src="/images/featuredartist.jpeg" alt="Featured artist's headshot">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">Featured Artist: Prince Akachi</div>
                    <p class="text-gray-700 text-base">Price is an art lover and story teller. Avaliable for photography shootings -- events, headshots, and anything in between. Check out their <a href="https://unsplash.com/@princearkman" target="_blank">unsplash account</a>.</p>
                    <hr>
                    {{!-- need to change the link below to the log in area --}}
                    <p class="uppercase text-sm text-gray-700">Want to be a featured artist? <a href="#">Create a profile!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>