<div class="container mx-auto">

{{!-- search bar at the top --}}
<ul class="flex border-b">
    {{!-- all these need to have the href # updated --}}
  <li class="-mb-px mr-1">
    <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-700 font-semibold" href="#">Music Shows</a>
  </li>
  <li class="mr-1">
    <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="#">Art Show</a>
  </li>
  <li class="mr-1">
    <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="#">Performance Arts</a>
  </li>
  {{!-- link out to the artist listing database --}}
  <li class="mr-1">
    <a class="bg-white inline-block py-2 px-4 text-gray-400 font-semibold" href="#">Artist Listings</a>
  </li>

  {{!-- search form --}}
    <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="bg-transparent hover:bg-blue-500 text-purple-700 font-semibold hover:text-white py-2 px-4 border border-purple-500 hover:border-transparent rounded" type="submit">Search</button>
  </form>
</ul>
{{!-- end of the search navbar --}}

{{!-- showing the events --}}
<h1 class="text-purple-600">Local NYC Events</h1>

    {{#each events}}
    <div class="md:flex">
        {{!-- image of venue -- to add the src="URL" --}}
        <div class="md:flex-shrink-0"> 
            <img class="rounded-lg md:w-56" src="{{event_image}}" alt="Event's venue photo">
        </div>

        <div class="mt-4 md:mt-0 md:ml-6">
            <div class="uppercase tracking-wide text-sm text-purple-800 font-bold">{{event_type}}</div>
            <a href="{{event_link}}" class="block mt-1 text-lg leading-tight font-semibold text-gray-900 hover:underline" target="_blank">{{event_name}}/a>

            <p class="uppercase tracking-wide text-sm text-purple-600 font-bold">Location</p>: <p>{{event_location}}</p>
            <p class="uppercase tracking-wide text-sm text-purple-600 font-bold">Date</p>: <p>{{event_date}}</p>
            <p class="uppercase tracking-wide text-sm text-purple-600 font-bold">Price</p>: <p>{{price}}</p>

            <p class="mt-2 text-gray-600">{{event_description}}</p>
            {{!-- update the going to something more interesting for the attendee count --}}
            <p class="text-purple-600 text-center bg-gray-400 p-2">Going?</p>
        </div>
    </div> 
        
        {{!-- else option if we don't have any events, it will display the below --}}
    {{else}}
        <div class="bg-purple-900 text-center py-4 lg:px-4">
            <div class="p-2 bg-purple-800 items-center text-purple-100 leading-none lg:rounded-full flex lg:inline-flex" role="alert">
                <span class="flex rounded-full bg-purple-500 uppercase px-2 py-1 text-xs font-bold mr-3">Sorry!</span>
                <span class="font-semibold mr-2 text-left flex-auto">We don't have any events listed right now. Check out our local artist instead?</span>
                {{!-- gotta update the link here --}}
                <svg class="fill-current opacity-75 h-4 w-4" xmlns="#" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
            </div>
        </div>
     {{/each}}

    {{!-- end of md:flex div --}}
</div>