<div class="container mx-auto">  
     <ul class="flex border-b m-3 pt-8 pb-3">
        <li class="-mb-px mr-1">
            <a class="bg-white inline-block border-l border-t border-r hover:text-purple-800 rounded-t py-2 px-4 text-purple-700 font-semibold tab activeTab" id="musicTab">Artists</a>
        </li>
    </ul>
    
    <div>Fliters</div>
    <div class=""> 
        <div class="flex py-1">
                    <div class="w-2/6 pr-2">
                        <label> 
                            Artist type <span class="ml-2 text-xs py-1 px-2 bg-gray-200 rounded">Required</span>
                        </label>
                    </div>
                    <div class="w-5/6 pr-5">
                        <div class="flex">
                            <div class="inline-block relative w-full">
                                <select class="block appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="artistType">
                                    <option selected disabled>--</option>
                                    <option>Artist</option>
                                    <option>Music</option>
                                    <option>Performance Art</option>
                                </select>
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-900">
                                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex py-1">
                    <div class="w-2/6 pr-2">
                        <label> 
                            Genre 
                        </label>
                        <span class="ml-2 text-xs py-1 px-2 bg-gray-200 rounded">Required</span>
                    </div>
                    <div class="w-5/6 pr-5">
                        <div class="flex">
                            <div class="inline-block relative w-full">
                                <select class="block appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" id="searchGenre">
                                    <option selected disabled>--</option>
                                </select>
                                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-900">
                                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <button class="bg-purple-500 hover:bg-blue-700 text-white w-full py-2 px-4 rounded" id="searchArtist">
            Search
        </button>
    </div>
    
    {{!-- Music --}}
    {{#each profiles}}
    <div id="musicProfiles" class="active">
        <div class="w-full flex border-gray-200 border rounded mt-8 mb-4">
            <div class="h-48 w-3/12 rounded-tl rounded-bl flex-none bg-cover bg-grey-200 text-center overflow-hidden" style="background-image:url({{artist__profile_image}})" title="Image of {{event_name}}">
            </div>
            <div class="w-full border-gray-400 bg-white px-10 mt-4 flex flex-col leading-normal">
                <div>
                    <p class="capitalize text-sm text-purple-700 flex items-center text-xl"><a href="/profile/{{artist__route_name}}">{{artist__name}}</a></p>
                    <div class="text-gray-900 text-xl mb-2">
                        <span class="bg-purple-500 uppercase h-auto w-auto text-xs text-white py-1 px-2 rounded">
                            {{artist__type}}
                        </span>

                        <span class="ml-2 bg-purple-500 uppercase h-auto w-auto text-xs text-white py-1 px-2 rounded">
                            {{artist__medium_genre}}
                        </span> 
                    </div>
                    <hr class="my-5 dotted">
                </div>

                <div class="flex">
                    <div>
                        <p class="text-gray-600 leading-none pb-2">Type of Audience: {{artist__audience}}</p>
                        <p class="text-gray-600">Minimum Booking Fee: ${{id}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    </div>
</div>