<div class="flex flex-col min-h-screen hidden h-full items-center justify-center bg-gray-700" id="modal">
    <div class="container mx-auto fixed w-full">   
        <div class="flex">
            <div class="w-1/6"></div>
            
            <div class="bg-gray-200 rounded w-4/6 px-16 py-16">
                <div class="w-full text-right text-sm" id="modalClose">X</div>
                <div class="w-full py-4">Organizer Name:</div>
                <div class="flex">            
                    <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" type="text" placeholder="Jane Organizer" id="organizerName">
                </div>
                <div class="w-full py-4">Organizer Email:</div>
                <div class="flex">            
                    <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" type="text" placeholder="janeorganizer@email.com" id="organizerEmail">
                </div>

                <div class="w-full py-4">Subject:</div>
                <div class="flex">            
                    <input class="appearance-none border border-gray-200 rounded w-full py-2 px-4 text-gray-900 leading-tight" type="text" placeholder="I'm looking to hire you for an event!" id="emailSubject">
                </div>

                <div class="w-full py-4">Message:</div>
                <div class="flex">            
                    <textarea class="appearance-none border border-gray-200 h-64 rounded w-full py-2 px-4 text-gray-900 leading-tight" type="text" id="emailMessage"></textarea>
                </div>

                <div class="flex py-4"> 
                    <button class="bg-purple-500 hover:bg-blue-700 text-white w-full py-2 px-4 rounded" id="emailArtist">
                        Message
                    </button>
                </div>
            </div> 

            </div>
            <div class="w-1/6"></div>
        </div>
    </div>
</div>

<div class="container mx-auto">
    {{!-- Header --}}
    {{#with artistProfile}}
    <div class="flex mt-8 mb-4" id="profileHeader">
        <div class="w-4/6 mt-5 rounded-tl-lg bg-gray-200" style="background:url('{{artist__profile_image}}') no-repeat center center;background-size:cover;">
        
        </div>
        <div class="w-2/6 bg-gray-100 mt-5 p-8 rounded-tr-lg">
            <span class="text-4xl" id="artistRoute">{{artist__name}}</span> 
            <div class="py-1">
                <span class="bg-purple-500 uppercase h-auto w-auto text-xs text-white py-1 px-2 rounded">
                    {{artist__type}}
                </span>

                <span class="ml-2 bg-purple-500 uppercase h-auto w-auto text-xs text-white py-1 px-2 rounded">
                    {{artist__medium_genre}}
                </span>   
            </div>
        </div>
    </div>

    {{!-- Social --}}
    <div class="flex mb-4 border-b border-dotted">
        <div class="w-4/6">
            <div class="flex socialButtons">
                <div class="w-6/12 pr-2">
                {{#if artist__social_twitter}}<a href="https://twitter.com/{{artist__social_twitter}}"><img class="mr-6 float-left" src="/images/facebook.png" /></a>{{else}}{{/if}}
            
                {{#if artist__social_facebook}}<a href="https://facebook.com/{{artist__social_facebook}}"><img class="mr-6 float-left" src="/images/twitter.png" /></a>{{else}}{{/if}}
        
                {{#if artist__social_youtube}}<a href="https://youtube.com/{{artist__social_youtube}}"><img class="mr-6 float-left" src="/images/youtube.png" /></a>{{else}}{{/if}}
                </div>
            </div>
        </div>
        {{!-- Book Button --}}
        <div class="w-2/6 border-b border-dotted mb-4">
            {{#if artist__email}}
            <button class="bg-purple-500 hover:bg-blue-700 text-white w-full py-2 px-4 rounded" id="bookArtist">
                Book
            </button>
            {{else}}
            <div class="flex">
            <span class="bg-gray-300 text-white text-center w-full py-2 px-4 rounded">
                Book
            </span>
            </div>
            {{/if}}
        </div>
    </div>

    {{!-- Content --}}
    <div class="flex mb-4">
        <div class="w-4/6">
            <div class="flex mb-4"> 
                <div class="w-full py-3" id="userLeft">
                    <div class="userInformation">
                        <div class="flex mb-4 line py-1">
                            <div class="w-3/6">Minimum Rate: </div>
                            <div class="w-3/6 text-right pr-8">${{artist__pay_rate}}</div>
                        </div>
                        <div class="flex mb-4 line py-1">
                            <div class="w-3/6">Negotiable</div>
                            <div class="w-3/6 text-right pr-8">{{#if artist__rate_negotiable}}Yes{{else}}No{{/if}}</div>
                        </div>
                        <div class="flex mb-4 line py-1">
                            <div class="w-3/6">Audience</div>
                            <div class="w-3/6 text-right pr-8">{{artist__audience}}</div>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
       
       {{!-- Sidebar --}}
        <div class="w-2/6">
            {{#if artist__demo_youtube}}
            <iframe width="100%" height="215px" src="https://www.youtube.com/embed/{{artist__demo_youtube}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {{/if}} 
        </div>
    </div>
    {{/with}}
</div>
    


