<div class="flex flex-col min-h-screen hidden h-full items-center justify-center opacity-25 bg-gray-700" id="modal">
    <div class="container mx-auto fixed w-full">   
        <div class="flex">
            <div class="w-1/6"></div>

            <div class="bg-gray-200 rounded w-4/6 px-16 py-16">
            <div class="flex">
                    <svg class="fill-current" id="modalClose" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 18 18"><path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"/></svg>								
                </div>
            </div>  
            </div>

            <div class="w-1/6"></div>
        </div>
    </div>
</div>

<div class="container mx-auto">
    <!-- Header -->
    {{#with artistProfile}}
    <div class="flex mb-4" id="profileHeader">
        <div class="w-4/6 mt-5 rounded-tl-lg bg-gray-200" style="background:url('{{artist__profile_image}}') no-repeat center center;background-size:cover;"></div>
        <div class="w-2/6 bg-gray-100 mt-5 p-8 rounded-tr-lg">
            <span class="text-4xl">{{artist__name}}</span>
            
            <div class="flex my-4 socialButtons">
                <div class="w-1/6 pr-2">
                    {{#if artist__social_facebook}}<a href="https://twitter.com/{{artist__social_twitter}}"><img src="/images/facebook.png" /></a>{{else}}{{/if}}
                </div>
                
                <div class="w-1/6 pr-2">
                    {{#if artist__social_twitter}}<a href="https://facebook.com/{{artist__social_twitter}}"><img src="/images/twitter.png" /></a>{{else}}{{/if}}
                </div>
            
                <div class="w-1/6">
                    {{#if artist__social_youtube}}<a href="https://youtube.com/{{artist__social_twitter}}"><img src="/images/youtube.png" /></a>{{else}}{{/if}}
                </div>
            </div>

        </div>
    </div>
   

    <!-- Book -->
    <div class="flex mb-4 border-b border-dotted">
        <div class="w-4/6">
        </div>
        <div class="w-2/6 border-b border-dotted mb-4">
            <button class="bg-purple-500 hover:bg-blue-700 text-white w-full py-2 px-4 rounded" id="bookArtist">
                Book
            </button>
        </div>
    </div>

    <!-- DB Structure-->
    <div class="flex mb-4">
        <!-- Left -->
        <div class="w-4/6">
            <div class="flex mb-4"> 

                    <div class="w-full py-3" id="userLeft">
                        <div class="flex mb-4 line py-2">
                            <div class="w-3/6">
                                <button class="bg-purple-500 uppercase h-auto w-auto text-xs text-white py-1 px-2 rounded">
                                    {{this.art_medium_genre}}
                                </button>
                            </div>
                            <div class="w-3/6 text-right"></div>
                        </div>
                        <div class="userInformation">
                            <div class="flex mb-4 line py-2">
                                <div class="w-3/6">Requested Rate: </div>
                                <div class="w-3/6 text-right">${{this.rate}}</div>
                            </div>
                            <div class="flex mb-4 line py-2">
                                <div class="w-3/6">Negotiable</div>
                                <div class="w-3/6 text-right">{{#if true}}Yes{{else}}No{{/if}}</div>
                            </div>
                            <div class="flex mb-4 line py-2">
                                <div class="w-3/6">a</div>
                                <div class="w-3/6 text-right">$30</div>
                            </div>
                            <div class="flex mb-4 line py-2">
                                <div class="w-3/6">a</div>
                                <div class="w-3/6 text-right">$30</div>
                            </div>         
                        </div>
                    </div>
            </div>
        </div>
        <!-- Right -->
        <div class="w-2/6">
            
        </div>
    </div>
    {{/with}}
</div>

